@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #fbbb0c;
    --color-primary-2: #b59244;
    --color-primary-3: #211702;
    --color-secondary: #b1c3f5;
    --color-accent-black: #11100b;
}

body {
    @apply text-sm;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

button {
    cursor: pointer;
}

.full-width-text {
    font-size: clamp(3rem, 10rem, 100vw);
}

/* Add to your global CSS */
.minimal-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(240, 241, 244);
    border-radius: 2px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 163, 175);
}

.minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(242, 243, 245) transparent;
}
